* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}


/* Nav Bar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.navbar > ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar > ul > li {
    font-family: Cambria;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    transition: all 0.5 ease;
}

.navbar > ul > li > a:hover {
    background-color: white;
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1.1rem;
}


/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}

.home-pic{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('images/gojo.jpeg') no-repeat left left/cover;
    width: 100%;
    z-index: -1;
    opacity: .9;
}

.main {
    display: flex;;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 20%;
    right: 10%;
}

.heading {
    font-size: 2.6rem;
    text-align: left;
}

.btn {
    padding: 0.6em 2em;
    border: 1em solid white;
    background: white;
    border-radius: 1em;
    margin: 1em;
}

.btn:hover {
    background: gray;
    padding: 0.6em 2em;
    border: 1em solid gray;
    margin: 1em;
}




